.item{
    width: 280px;
    margin-left: 20px;
}




.item p{
    margin: 4px 0;
    font-size: 18px;
    
}

.item img{
   width: 280px;
    height: 50vh;
}

.item-prices{
    display: flex;
    gap: 20px;

}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

@media (max-width:1280px) {
   .item{
    width: 220;
    font-size: 10px;
    margin-left: 20px;
   } 


   .item img{
    width: 270px; 
    height: 35vh; 
   }

   .item-price-old{
    font-size: 14px;
   }

   .item p{
        font-size: 13px;
        text-align: left;
   }

}

@media (max-width:1024px) {
    .item{
        width: 170px;
        font-size: 10px;
        margin-left: 20px;
    } 
    .item img{
        width: 195px; 
        height: 35vh;
    
    }

    .item-price-old{
        font-size: 14px;
    }

}

@media (max-width:800px) {
    .item{
        width: 120px;
        font-size: 8px;
    } 
    .item img{
        width: 160px; 
        height: 25vh;
    }
}

@media (max-width:500px) {
    .item{
        width: 110px;
        font-size: 8px;
        margin-left: 4px;
    }
    .item img{
        width: 150px; 
        height: 25vh;
    
    }

    .item p{
        margin: 4px 0;
        font-size: 12px;
    }

    .item-price-new{
        color: #374151;
        font-size: 16px;
        font-weight: 600;
    }

}

